// ******************************
// Variable Resets
// ******************************

// ------------------------------
// Colors
// ------------------------------

$light:         #ffffff;
$stable:        #f8f8f8;
$positive:      #6797ad;
$calm:          #43cee6;
$balanced:      #2ecc71;
$energized:     #f2ca27;
$assertive:     #ea6153;
$royal:         #8a6de9;
$dark:          #444444;
$dark-active:	#000000;
$fade:			#dddddd;

// ------------------------------
// Fonts
// ------------------------------

$font-family-sans-serif: "AtlasTypewriterRegular", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !default;

// ------------------------------
// Paths
// ------------------------------

$ionicons-font-path: "../fonts";

// ------------------------------
// Misc.
// ------------------------------

$android-transition-duration: 600ms;

$sheet-border-radius: 0;

$button-border-radius: 0;
$button-border-radius: 0;
$button-dark-border: $dark;
$button-dark-active-bg: $dark-active;
$button-dark-active-border: $dark-active;
$button-font-size: 12px;
$button-light-active-bg: $light;

$item-avatar-border-radius: 5px;

// ******************************
// Imports
// ******************************

// ------------------------------
// Ionic
// ------------------------------

@import "lib/ionic/scss/ionic";

// ------------------------------
// Bourbon
// ------------------------------

@import "bourbon/bourbon";

// ------------------------------
// Custom
// ------------------------------

@import "custom/custom";
@import "utility/utility";
@import "components/components";

