//- ******************************
//- About View
//- ******************************
//-
//- Gives a brief overview of what Ranger is and what is does.

ion-view(title="About")
	ion-content
		div.row.responsive-sm.full-vertical.justify-center
			div.col.col-50(style="max-width: 600px")
				h4 What is Ranger?
				p Ranger is CRM designed with portability and ease-of-use in mind. It focuses on making your team more agile, and better able to respond to your customers. We accomplish this through an uncluttered design and small, robust featureset.
				h4 How much does it cost?
				p Ranger is free for your first month - afterwards it's $50 a month for up to ten users, with every additional user costing only $5 a month.
				h4 What are the features?
				ul
					li
						u Syncronized Accounts
						span : Create accounts and share them accross your team. Update your accounts with sales calls, contacts, orders, and more.
					br
					li
						u Livefeed
						span : Keep tabs on what your team is doing. Nearly every major action is logged in your team's livefeed - use it to catch up throughout the day.
					br
					li
						u Team Chat
						span : It's a basic, but ever so useful. We give you a streamlined chatroom dedicated to your team.
					br
					li
						u Mobile Ready
						span : Ranger was built for mobile devices. Take it with you on your sales calls and you'll always have the information you need at hand.
					br
					li
						u And More!
						span  Ranger just launched. We're busy adding more features every week, such as social media integrations for livefeeds, user mentions in chat, invoicing, and more!
				h4 How can I get started?
				p If your team is already using Ranger, request an invite from your team's admin. Otherwise, click this button to get an account for your company and start your free trial.
				button.button.button-block.button-dark(ui-sref="lobby.onboard") Get Started for Free
