ion-view.try(title="Contacts")
	ion-content.try
		ion-side-menus(delegate-handle="contacts-options")
				ion-side-menu-content.try
					ion-content.try
						.bar.bar-header.item-input-inset.borderless(style="padding: 10px")
							label.item-input-wrapper(style="border-radius: 0")
								i.icon.ion-ios7-search.placeholder-icon
								input(ng-change="onSearch()" ng-model="searchOptions.term" placeholder="Search" type="search")
							button.button.button-icon.icon.ion-ios7-more(ng-click="openOptionsMenu()")
						ion-list.marginless
							contact-item(ng-repeat="contact in contacts | orderBy:'search'" data-contact="contact" data-on-click="onContactSelect")
							div.text-center(ng-show="contacts.length === 0" style="margin: 20px 0")
								div
									span No matching contacts! 
								div
									span Click
									i.icon.ion-ios7-more(style="margin: 0 10px; font-size: 14px")
									span above to add one.
						ion-infinite-scroll(ng-if="pagingOptions.enabled" on-infinite="pageContacts()")
					footer(data-footer="footer")
				ion-side-menu(side="right")
					ion-content(delegate-handle="scroll")
						.list.marginless
							a.item.item-icon-right(style="border-top: 0" nav-transition="none" ui-sref="app.createContact")
								h3 Add Contact
								i.icon.ion-ios7-plus-empty
							a.item.item-icon-right(nav-transition="none" ng-click="uploadCSV()")
								h3 Upload CSV
								i.icon.ion-ios7-upload-outline
							a.item.item-icon-right(nav-transition="none" ng-click="getCSVTemplate()")
								h3 Get CSV Template
								i.icon.ion-ios7-download-outline