ion-view(title="Test")
	ion-content
		div.row.responsive-sm.full-vertical.justify-center
			div.col.col-center.col-50.text-center(style="max-width: 300px")
				button.button.button-block.button-dark(ui-sref="app.createCall") New Sales Call