ion-view(title="Introduction")
	ion-content
		div.row.responsive-sm.full-vertical.justify-center
			div.col.col-center.col-50.text-center(style="max-width: 300px")
				button.button.button-block.button-dark(ui-sref="app.test") New Sales Call
				button.button.button-block.button-dark(ui-sref="app.createContact") New Contact
				button.button.button-block.button-dark(ui-sref="app.createOrder") New Order