ion-view(title="Chat")
	ion-content.has-footer(delegate-handle="chat-window" on-scroll="free()")
		.list
			chat-message(ng-repeat="message in messages" data-message="message")
	chat-bar(on-send="send")