ion-view(title="Accounts")
	ion-content
		ion-side-menus(delegate-handle="accounts-options")
			ion-side-menu-content
				ion-content
					.bar.bar-header.item-input-inset.borderless(style="padding: 10px")
						label.item-input-wrapper(style="border-radius: 0")
							i.icon.ion-ios7-search.placeholder-icon
							input(ng-change="onSearch()" ng-model="searchOptions.term" placeholder="Search" type="search")
						button.button.button-icon.icon.ion-ios7-more(ng-click="openOptionsMenu()")
					ion-list.marginless
						account-item(ng-repeat="account in accounts | orderBy:'search'" data-account="account" data-on-click="onAccountSelect")
						div.text-center(ng-show="accounts.length === 0" style="margin: 20px 0")
							div
								span No matching accounts! 
							div
								span Click
								i.icon.ion-ios7-more(style="margin: 0 10px; font-size: 14px")
								span above to add one.
					ion-infinite-scroll(ng-if="pagingOptions.enabled" on-infinite="pageAccounts()")
				footer(data-footer="footer")
			ion-side-menu(side="right")
				ion-content
					.list.marginless
						a.item.item-icon-right(style="border-top: 0" ui-sref="app.createAccount")
							h3 Add Account
							i.icon.ion-ios7-plus-empty
						a.item.item-icon-right(ng-click="uploadCSV()")
							h3 Upload CSV
							i.icon.ion-ios7-upload-outline
						a.item.item-icon-right(ng-click="getCSVTemplate()")
							h3 Get CSV Template
							i.icon.ion-ios7-download-outline