ion-side-menus
	ion-side-menu-content
		.row.responsive-lg.full-vertical.paddingless
			.col.marginless.paddingless(ng-class="{'col-66': !hideFeed, 'col-100': hideFeed }")
				ion-nav-bar
					ion-nav-back-button.button-clear
					ion-nav-buttons(side="right")
						button.button.button-icon.icon.ion-navicon.show-mobile(menu-toggle="right" enable-with-back-views="true")
						button.button.button-icon.icon.hide-tablet(ng-class="{'ion-ios7-arrow-thin-right': !hideFeed, 'ion-ios7-arrow-thin-left': hideFeed }" ng-click="toggleFeed()")
				ion-nav-view
			.col.col-33.marginless.hide-tablet.topography(ng-hide="hideFeed")
				ion-content(style="top:0 !important;")
					.story
						.story-content
							p "Test content!" {{ hideFeed }}
							div.story-attribution
								img.story-attribution-image(src="http://goo.gl/ZcpazR" width="25")
								p.story-attribution-text 
									a Ryan 
									span commented on a visit to Suika yesterday
					.story
						.story-content
							p "A picture of Neutral Milk Hotel:"
							img.story-image(src="http://goo.gl/IteP3x" width="100%")
							div.story-attribution
								img.story-attribution-image(src="http://goo.gl/ZcpazR" width="25")
								p.story-attribution-text Ryan commented on the Suika account yesterday
					.story
						.story-content
							p "An image from JJJJound:"
							img.story-image(src="http://lh4.ggpht.com/-VGeKWnYynv8/U7essBxcS6I/AAAAAAAA1jM/3FQy8wVs2W0/67ebcb20715867f7079190a0baf4b84d.jpg?imgmax=576" width="100%")
							div.story-attribution
								img.story-attribution-image(src="http://goo.gl/ZcpazR" width="25")
								p.story-attribution-text Ryan commented on the Suika account yesterday
	ion-side-menu(side="right" width="275")
		sidemenu
	ion-side-menu(side="left" width="275" expose-aside-when="large")
		sidemenu