ion-view(title="Contact")
	ion-content
		.list
			.item.item-avatar.item-icon-right.borderless
				item-avatar(data-item="contact")
				h2 {{ contact.firstName }} {{ contact.lastName }}
					span.header-note(ng-show="contact.isBuyer")
						span.ion-ios7-star(style="margin-right: 5px")
						span Buyer
				h4(ng-show="contact.title || contact.account")
					span {{ contact.title }}&nbsp;
					span(ng-show="contact.title && contact.account") @&nbsp;
					span {{ contact.account.name }}
				i.icon.ion-ios7-more(ng-click="showMainOptions()")
			.item.item-divider.item-icon-right
				span Details
				i.icon(ng-class="{'ion-ios7-arrow-left': hideDetails, 'ion-ios7-arrow-down': !hideDetails}" ng-click="hideDetails = !hideDetails")
			.item-expandable(ng-class="{'collapsed': hideDetails}")
				.item.item-icon-left.item-text-wrap(ng-show="contact.account")
						i.icon.ion-ios7-person-outline
						h4 Works at {{ contact.account.name }}
				.item.item-icon-left.item-text-wrap(ng-show="contact.notes")
						i.icon.ion-ios7-bookmarks-outline
						h4 {{ contact.notes }}
				.item.item-icon-left.item-text-wrap(ng-show="contact.phone")
					i.icon.ion-ios7-telephone-outline
					a(ng-href="tel:{{ contact.phone }}") {{ contact.phone }}
				.item.item-icon-left.item-text-wrap(ng-show="contact.facebookHandle")
					i.icon.ion-social-facebook-outline
					a(ng-href="https://facebook.com/{{ contact.facebookHandle }}") @{{ contact.facebookHandle }}
				.item.item-icon-left.item-text-wrap(ng-show="contact.twitterHandle")
					i.icon.ion-social-twitter-outline
					a(ng-href="https://twitter.com/{{ contact.twitterHandle }}") @{{ contact.twitterHandle }}
				.item.item-icon-left.item-text-wrap(ng-show="contact.linkedinHandle")
					i.icon.ion-social-linkedin-outline
					a(ng-href="https://linkedin.com/in/{{ contact.linkedinHandle }}") @{{ contact.linkedinHandle }}
				.item.item-icon-left.item-text-wrap(ng-show="contact.website")
					i.icon.ion-ios7-world-outline
					a(ng-href="{{ contact.website }}") {{ contact.website }}
			.item.item-divider.item-icon-right
				span Comments
				i.icon(ng-class="{'ion-ios7-arrow-left': hideComments, 'ion-ios7-arrow-down': !hideComments}" ng-click="hideComments = !hideComments")
			.item-expandable(ng-class="{'collapsed': hideComments}")
	ion-footer-bar
		textarea(msd-elastic ng-model="newMessage.text" placeholder="Add a comment..." style="margin: 0 0 5px 5px;" type="text")
		button.button.button-light(style="margin-left: 15px; min-width: 80px" ng-click="send()") Comment