ion-view(title="Account")
	ion-content
		ion-side-menus(delegate-handle="account-options")
			ion-side-menu-content
				ion-content
					.list
						.item.item-avatar.item-text-wrap.item-icon-right.borderless
							item-avatar(data-item="account")
							h2 {{ account.name }}
							h4
								span Added 
								span(am-time-ago="account.createdAt")
							i.icon.ion-ios7-more(ng-click="openOptionsMenu()")
						.item.item-divider.item-icon-right
							span Details
							i.icon.ion-ios7-arrow-down(ng-class="{'ion-ios7-arrow-left': hideDetails, 'ion-ios7-arrow-down': !hideDetails}" ng-click="hideDetails = !hideDetails")
						.item-expandable(ng-class="{'collapsed': hideDetails}")
							.item.item-icon-left.item-text-wrap(ng-show="account.street")
								i.icon.ion-ios7-location-outline
								h4 {{ account.street }} {{ account.city }} {{ account.state }} {{ account.zip }}
							.item.item-icon-left.item-text-wrap(ng-show="account.notes")
								i.icon.ion-ios7-bookmarks-outline
								h4 {{ account.notes }}
							.item.item-icon-left.item-text-wrap(ng-show="account.phone")
								i.icon.ion-ios7-telephone-outline
								a(ng-href="tel:{{ account.phone }}") {{ account.phone }}
							.item.item-icon-left.item-text-wrap(ng-show="account.facebookHandle")
								i.icon.ion-social-facebook-outline
								a(ng-href="https://facebook.com/{{ account.facebookHandle }}") @{{ account.facebookHandle }}
							.item.item-icon-left.item-text-wrap(ng-show="account.twitterHandle")
								i.icon.ion-social-twitter-outline
								a(ng-href="https://twitter.com/{{ account.twitterHandle }}") @{{ account.twitterHandle }}
							.item.item-icon-left.item-text-wrap(ng-show="account.website")
								i.icon.ion-ios7-world-outline
								a(ng-href="{{ account.website }}") {{ account.website }}
						.item.item-divider.item-icon-right
							span Contacts
							i.icon.ion-ios7-arrow-down(ng-class="{'ion-ios7-arrow-left': hideContacts, 'ion-ios7-arrow-down': !hideContacts}" ng-click="hideContacts = !hideContacts")
						.item-expandable(ng-class="{ 'collapsed': hideContacts }")
							.item No contacts.
						.item.item-divider.item-icon-right
							span Sales Calls
							i.icon.ion-ios7-arrow-down(ng-class="{'ion-ios7-arrow-left': hideSalesCalls, 'ion-ios7-arrow-down': !hideSalesCalls }" ng-click="hideSalesCalls  = !hideSalesCalls")
						.item-expandable(ng-class="{ 'collapsed': hideSalesCalls }")
							.item No sales calls.
						.item.item-divider.item-icon-right
							span Comments
							i.icon(ng-class="{'ion-ios7-arrow-left': hideComments, 'ion-ios7-arrow-down': !hideComments}" ng-click="hideComments = !hideComments")
						.item-expandable(ng-class="{'collapsed': hideComments}")
							.item No sales calls.
				ion-footer-bar
					textarea(msd-elastic ng-model="newMessage.text" placeholder="Add a comment..." style="margin: 0 0 5px 10px;" type="text")
					button.button.button-light(style="margin-left: 15px; min-width: 80px" ng-click="send()") Comment
			ion-side-menu(side="right")
				ion-content
					.list.marginless
						a.item.item-icon-right(style="border-top: 0" ui-sref="app.createContact({ accountId: account.objectId })")
							h3 Add Contact
							i.icon.ion-ios7-personadd-outline
						a.item.item-icon-right(ui-sref="app.editAccount({ id: account.objectId })")
							h3 Edit Account
							i.icon.ion-ios7-settings
						a.item.item-icon-right(ng-click="closeAccount()")
							h3 Close Account
							i.icon.ion-ios7-minus-outline
