ion-view(title="Edit Account")
	ion-content
		.list
			.item.item-divider.borderless
				span Details
			label.item.item-input
				input(ng-model="account.name" type="text" placeholder="Account name")
			.item.item-divider
				span Address
			label.item.item-input
				input(ng-model="account.street" type="text" placeholder="Street address")
			label.item.item-input
				input(ng-model="account.city" type="text" placeholder="City")
			label.item.item-input
				input(ng-model="account.state" type="text" placeholder="State")
			label.item.item-input
				input(ng-model="account.zip" type="text" placeholder="Zip code")
			.item.item-divider
				span Miscellaneous
			label.item.item-input
				textarea(ng-model="account.notes" msd-elastic placeholder="Notes")
		.text-center
			button.button.button-dark(ng-click="editAccount()") Update Account
