ion-view(title="Add Account")
	ion-slide-box(show-pager="false")
		ion-slide
			div.row.responsive-sm.full-vertical.justify-center
				div.col.col-center.col-50.text-center(style="max-width: 300px")
					input(name="name" ng-model="account.name" type="text" placeholder="Account name")
					button.button.button-block.button-dark(ng-click="createAccount()") Create Account
					button.button.button-block.button-light(ng-click="editDetails()") Add More Details
		ion-slide
			div.row.responsive-sm.full-vertical.justify-center
				div.col.col-center.col-50.text-center(style="max-width: 300px")
					input(name="name" ng-model="account.name" type="text" placeholder="Account name")
					input(name="address" ng-model="account.address" type="text" ng-autocomplete options="options" details="account.addressDetails" placeholder="Address")
					textarea(msd-elastic name="notes" ng-model="account.notes" placeholder="Notes")
					button.button.button-block.button-dark(ng-click="createAccount()") Create Account