//- ******************************
//- Home View
//- ******************************
//-
//- This is the first view an unauthenticated user will see.
//-
//- Goals:
//- 1) Drive clicks to "Get Started for Free". Contrast has been set to motivate this.

ion-view(hide-nav-bar="true")
	ion-content
		div.fake-navicon(menu-toggle="right")
			button.button.button-icon.icon.ion-navicon
		div.row.responsive-sm.full-vertical.justify-center
			div.col.col-center.col-50.text-center(style="max-width: 300px")
				h1 Ranger
				h5 The featherweight CRM&trade;
				div.spacer-20
				button.button.button-block.button-dark(ui-sref="lobby.onboard") Get Started for Free
				button.button.button-block.button-light(ui-sref="lobby.about") Learn More