//- ******************************
//- Introduction View
//- ******************************
//-
//- Users may either redeem an invite code or create a new company here.

ion-view(title="Welcome")
	div.row.responsive-sm.full-vertical.justify-center
		div.col.col-center.col-50.text-center(style="max-width: 300px")
			h3 A few last details
			form(name="introductionForm" ng-submit="submitted = true; submit()" novalidate)
				input(name="name" ng-class="{'error': introductionForm.name.$error.required && submitted }" ng-model="user.name" placeholder="Your name" required type="text")
				input(name="password" ng-class="{'error': introductionForm.password.$error.required && submitted }" ng-model="user.password" type="password" placeholder="Your password" required)
				input(name="repeatPassword" ng-class="{'error': introductionForm.repeatPassword.$error.required && submitted }" ng-model="user.repeatPassword" type="password" placeholder="Repeat password" required)
				input.button.button-block.button-dark(type="submit" value="Show me the magic!")
			div(style="margin-top: 15px;") {{ message }}