ion-side-menus
	ion-side-menu-content
		ion-nav-bar.borderless
			ion-nav-back-button
			ion-nav-buttons(side="right")
				button.button.button-icon.icon.ion-navicon(menu-toggle="right" enable-with-back-views="true" style="display: block !important;")
		ion-nav-view
	ion-side-menu(side="right" width="275")
		div(ng-include="'partials/sidemenu.lobby.html'")