//- ******************************
//- Login View
//- ******************************
//-
//- Users access their accounts through this view.

ion-view(title="Login")
	div.row.responsive-sm.full-vertical.justify-center
		div.col.col-center.col-50.text-center(style="max-width: 300px")
			form(name="loginForm" ng-submit="submitted = true; login()" novalidate)
				input(name="email" ng-class="{'error': (loginForm.email.$error.required || loginForm.email.$error.email) && submitted }" ng-model="user.email" type="email" placeholder="Your email address" required)
				input(name="password" ng-class="{'error': loginForm.password.$error.required && submitted }" ng-model="user.password" type="password" placeholder="Your password" required)
				input.button.button-block.button-dark(type="submit" value="Onward")
			div(style="margin-top: 15px;") {{ message }}
		div.text-center(style="position: absolute; bottom: 20px; left:0; width: 100%;")
			a.font-size-small(ui-sref="lobby.recover") I forgot my password.