//- ******************************
//- Onboard View
//- ******************************
//-
//- Users may either redeem an invite code or create a new company here.

ion-view(title="Create Company")
	div.row.responsive-sm.full-vertical.justify-center
		div.col.col-center.col-50.text-center(style="max-width: 300px")
			div(ng-hide="onboardSuccess")
				form(name="onboardForm" ng-submit="submitted = true; onboard()" novalidate)
					input(name="companyName" ng-class="{'error': onboardForm.companyName.$error.required && submitted }" ng-model="details.companyName" placeholder="Your company" required type="text")
					input(name="userEmail" ng-class="{'error': (onboardForm.userEmail.$error.required || onboardForm.userEmail.$error.email) && submitted }" ng-model="details.userEmail" placeholder="Your email address" required type="email")
					input.button.button-block.button-dark(type="submit" value="Get Started")
				div(style="margin-top: 15px;") {{ message }}
			div(ng-show="onboardSuccess")
				h3 Welcome to Ranger!
				p We've sent you an email with a link to your account.