ion-view(title="Recover")
	div.row.responsive-sm.full-vertical.justify-center
		div.col.col-center.col-50.text-center(style="max-width: 300px")
			form(name="recoverForm" ng-submit="submitted = true; recover()" novalidate)
				input(name="email" ng-class="{'error': recoverForm.email.$error.required && submitted }" ng-model="user.email" placeholder="Your email address" required type="email")
				input.button.button-block.button-dark(type="submit" value="Reset Password")
			div(style="margin-top: 15px;") {{ message }}
	div.text-center(style="position: absolute; bottom: 20px; left:0; width: 100%;")
		a.font-size-small(ui-sref="lobby.login") Actually, I remembered it!