ion-footer-bar
	input(ng-keyup="$event.keyCode === 13 && send(message)" ng-model="message" placeholder="Start chatting..." style="margin-left: 10px;" type="text")
	button.button.button-light(style="margin-left: 15px; min-width: 60px" ng-click="send(message)") Send