.bar.bar-footer.message-footer(ng-class="{ 'visible': footer.visible }")
	button.button.button-icon.icon.ion-ios7-information-outline(ng-click="showDetails()" ng-show="footer.details")
	h1.title
		span {{ footer.message }}
		span(ng-if="footer.loading") {{ ellipsis }}
	button.button.button-icon.icon.ion-ios7-close-outline(ng-click="hideFooter()")