a.item.item-avatar.borderless(ng-click="onClick(contact)")
	item-avatar(data-item="contact")
	h2 {{ contact.firstName }} {{ contact.lastName }}
		span.header-note(ng-show="contact.isBuyer")
			span.ion-ios7-star(style="margin-right: 5px")
			span Buyer
	h4(ng-show="contact.title || contact.account")
		span {{ contact.title }}&nbsp;
		span(ng-show="contact.title && contact.account") @&nbsp;
		span {{ contact.account.name }}