a.item.item-avatar.borderless(ng-click="onClick(account)")
	item-avatar(data-item="account")
	h2 {{ account.name }}
	h4(ng-if="account.street && account.city") {{ account.street }}, {{ account.city }}