ion-content
	.list.marginless
		a.item.item-icon-right.borderless(ui-sref="lobby.home")
			h3 Home
			i.icon.ion-ios7-home-outline
		a.item.item-icon-right(ui-sref="lobby.login")
			h3 Login
			i.icon.ion-ios7-arrow-thin-right
		a.item.item-icon-right(ui-sref="lobby.onboard")
			h3 Add Your Team
			i.icon.ion-ios7-personadd-outline
		a.item.item-icon-right(ui-sref="lobby.about")
			h3 About
			i.icon.ion-ios7-information-outline