.list
	a.item.item-avatar.borderless(ng-repeat="user in users | orderBy:checkOnline" ui-sref="app.user({ id: user.objectId })")
		item-avatar(data-item="user")
		h3 {{ user.name }}
		p {{ user.status }}
		h4(ng-switch="checkOnline(user)")
			span(ng-switch-when="1")
				span.active-dot
				span Online
			span(ng-switch-when="2")
				span.idle-dot
				span Idle
			span(ng-switch-when="3")
				span.away-dot
				span Away
			span(ng-switch-default)
				span.offline-dot
				span Offline
