ion-header-bar.bar-dark.borderless
	h1.title.tuck.text-left(ui-sref="app.launchpad") {{ company.name }}
	button.button.button-icon.ion-ios7-chatboxes(ui-sref="app.chat")
ion-content
	.list.marginless
		a.item.item-icon-right(style="border-top: 0" nav-transition="none" ui-sref="app.accounts")
			h3 Accounts
			i.icon.ion-ios7-bookmarks-outline
		a.item.item-icon-right(nav-transition="none" ui-sref="app.contacts")
			h3 Contacts
			i.icon.ion-ios7-person-outline
		a.item.item-icon-right.show-tablet(ui-sref="app.feed")
			h3 Feed
			i.icon.ion-ios7-paper-outline
	sidemenu-active-list
ion-footer-bar
	h1.title.tuck.text-left {{ user.name }}
	button.button.button-icon.icon.ion-ios7-gear(ui-sref="app.userSettings")