doctype
html(ng-app="ranger")
  head
    title Ranger

    link(rel="apple-touch-icon", href="images/apple-touch-icon.png")
    link(rel="stylesheet", href="css/ranger.css")

    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
  body(ng-controller="rangerController")
    ion-nav-view
    script.
      console.info("If cordova.js 404's during development or in the web app, that's expected!");
    script(src="cordova.js", type="text/javascript")
    script(src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false")
    script(src="js/ranger.lib.js", type="text/javascript")
    script(src="js/ranger.js", type="text/javascript")
    script(src="js/ranger.templates.js", type="text/javascript")
