.active-dot {
	display: inline-block;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	background-color: $balanced;
	vertical-align: text-top;
	border-radius: 50%;
}

.away-dot {
	display: inline-block;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	background-color: $energized;
	vertical-align: text-top;
	border-radius: 50%;
}

.idle-dot {
	display: inline-block;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	background-color: $positive;
	vertical-align: text-top;
	border-radius: 50%;
}

.offline-dot {
	display: inline-block;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	background-color: $fade;
	vertical-align: text-top;
	border-radius: 50%;
}