.item-avatar-image {
	position: absolute;
	top: 16px;
	left: 16px;
	z-index: 10;
	max-width: 40px;
	max-height: 40px;
	width: 100%;
	border-radius: 4px;	
}

.item-default-avatar {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 40px;
	height: 40px;
	font-size: 25px;
	font-weight: 300;
	text-align:center;
	background-color: #6797AD;
	border-radius: 4px;
	color: white;
	line-height: 45px;
}