.story {
	position: relative;
	padding: 20px 10px;
	width: 100%;
	border-bottom: 1px solid $fade;
}

.story-content {
	// border: 1px solid $dark;
	color: $light;
	min-height: 50px;
}

.story-image {
	margin-bottom: 10px;
}

.story-attribution-image {
	float: left;
	margin-right: 10px;
	border-radius: 50%;
}

.story-attribution-text {
	margin: -3px 0 0 0;
	font-size: 10px;
	line-height: 15px;
}