// ------------------------------
// Box Model Helpers
// ------------------------------

.borderless {
	border: 0 !important;
}

.marginless {
	margin: 0 !important;
}

.paddingless {
	padding: 0 !important;
}

.border-r-1 {
	border-right: 1px solid $fade;
}

.margin-10 {
	margin: 10px !important;
}

.padding-10 {
	padding: 10px !important;
}

// ------------------------------
// Spacers
// ------------------------------

.spacer-10 {
	margin: 10px;
}

.spacer-20 {
	margin: 20px;
}

.spacer-30 {
	margin: 30px;
}