.topography {
	background-image: url('https://cldup.com/2EhwNO8tW4.thumb.png');
	background-position: center center;
	background-size: 300px 300px;
}

.eight-horns {
	background-image: url('https://cldup.com/Bu-_RsCQ6v-3000x3000.png');
	background-position: center center;
}