.button {
	box-shadow: none !important;
}

.bar .button.back-button {
  margin-left: 5px;
	line-height: 34px !important;
}

// This shouldn't exist.
// There is a bug in Ionic beta-14 that
// causes a view title to be displayed on
// a view that has no title if it is
// deep enough in the history stack.
// We are forced to hide the nav-bar in
// certain circumstances and fake the navicon
// instead.

.fake-navicon {
	position: absolute;
	right: 10px;
	margin-right: 5px;
	@include animation(fadeIn 1s ease-in-out);

	button:before {
		font-size: 24px !important;
	}
}

@include keyframes(fadeIn) {
  from { opacity: 0; }
  to { opacity: 1; }
}