@font-face{
    font-family:"AtlasTypewriterRegular";
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src:url(//d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Regular-Web-9aafa4418cbf81bc616781209c847a58.eot);
    src:url(//d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Regular-Web-9aafa4418cbf81bc616781209c847a58.eot?#iefix) format("embedded-opentype"), 
        url(//d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Regular-Web-c1cfd8346c4fb703d2aa2f92245dd08a.woff) format("woff"),
        url(//d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Regular-Web-5d0a16910e0f2e48bf567fe363bbe691.ttf) format("truetype"),
        url(//d2r3yqi5wwm1w7.cloudfront.net/assets/AtlasTypewriter-Regular-Web-27ee234475bf9fa39e0bf4fea14c31bd.svg#AtlasTypewriterRegular) format("svg")
}

// Font Overrides 

* {
	-webkit-font-smoothing: auto !important;
}

// Icon Overrides

.item-icon-left .icon:before, .item-icon-right .icon:before, .bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before {
	font-size: 24px !important;
}