.pac-container {
	border: 1px solid $fade !important;
	box-shadow: none !important;

	.pac-item:first-child {
		border-top: 0;
	}

	.pac-icon, .pac-icon-marker {
		display: none !important;
	}

	&:after {
		display: none !important;
	}
}