// ------------------------------
// Ion-Scroll, -Content, and -View
// ------------------------------

// Without this override, the .row.full-vertical class
// would be ineffective.
.scroll {
	height: 100% !important;
}

.view-container {
	overflow: hidden !important;
}

// HACK: In Ionic beta-14, the title gets thrown off.
// This is to fix that, but should be removed ASAP.
.title-center {
	@include transform(translate3d(0,0,0) !important);
}

// ------------------------------
// Col & Row Overrides
// ------------------------------

.slider {
	height: 100%;
}

.row.full-vertical {
	height: 100% !important;
}

.row.justify-center {
	@include justify-content(center);
}

// Correct flex-direction for vertical centering.
.row.responsive-sm {
	-webkit-flex-direction: row !important;
}

.col {
	position: relative;
}

// ------------------------------
// Bar Overrides
// ------------------------------

.bar-header {
	border-color: $fade !important;
	border-style: solid;
	border-width: 0 0 1px 0 !important;
	background-image: none !important;
	background-size: 0;
}

.bar-footer {
	border-color: $fade !important;
	border-style: solid;
	border-top-width: 1px !important;
	background-image: none !important;
	background-size: 0;
}

.bar-footer .title.tuck, 
.bar-header .title.tuck {
	left: 5px !important;
	text-align: left;
}

// ------------------------------
// Sidemenu Overrides
// ------------------------------

.menu-content {
	box-shadow: none !important;
}

.menu-left {
	border-right: 1px solid $fade;
	box-sizing: initial;
}

.menu-left .scroll-content,
.menu-left .bar-footer {
	border-right: 1px solid $fade;
}

.menu-right .scroll-content,
.menu-right .bar-footer {
	border-left: 1px solid $fade;
}